@{
 ViewData["Title"] = "Home Page";
}
<h1 style="text-align: center">Dobrodošli u C#FFEE!</h1>
<div style="height: 25em; overflow: hidden; display: flex">
  <div style="flex: 33.33%; padding: 10px">
    <img src="https://www.acouplecooks.com/wp-content/uploads/2020/09/Vanilla-Chai-Latte-003.jpg" alt="Snow" style="width:100%; height:400px">
  </div>
  <div style="flex: 33.33%; padding: 10px">
    <img src="https://therecipecritic.com/wp-content/uploads/2020/10/Homemade-Donuts-1.jpg" alt="Forest" style="width:100%; height:400px">
  </div>
  <div style="flex: 33.33%; padding: 10px">
    <img src="https://cookingwithayeh.com/wp-content/uploads/2022/01/Protein-Bagels.jpg" alt="Mountains" style="width:100%; height:400px">
  </div>
</div>
<div style="display: flex">
    <div style="flex: 33.33%; text-align: center; padding: 10px">
        <h5>Topli napitci</h5>
    </div>
    <div style="flex: 33.33%; text-align: center; padding: 10px">
        <h5>Slatkiši</h5>
    </div>
    <div style="flex: 33.33%; text-align: center; padding: 10px">
        <h5>Peciva</h5>
    </div>
</div>
<h3 style="margin-top: 3%; text-align: center">Naručite kafu po vašoj želji!</h3>
<div style="margin-top: 2%; color: black; font-size: 1.5em">
 <b>
 Ova web-aplikacija namijenjena je za olakšan proces naručivanja naših proizvoda.
 <br>
 Možete detaljno pregledati i naručiti proizvode koje želite, te iste ocijeniti!
 <br>
 Također, plaćanje se može vršiti elektronski putem ove aplikacije.
 Nakon potvrde plaćanja, u svakom trenutku možete vidjeti u kojoj fazi pripreme se nalazi vaša narudžba.
 </b>
 <br>
</div>